.position{
    margin: 0px 100px;
}
@media screen and (max-width: 1024px){
    .position{
        margin: 0px;
    }
}
@media screen and (max-width: 320px){
    .position{
        margin: 0px 0px 0px -16px;
    }
}