.footer_margin_top{
    margin-top: 92px;
}
@media screen and (max-width: 768px){
    .footer_margin_top{
        margin-top: 88px;
    }
}
@media screen and (max-width: 320px){
    .footer_margin_top{
        margin-top: 64px;
    }
}