.header{
    min-height: 52px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 320px){
    .header{
        min-height: 42px;
    }
}