.cover__overlay{
    position: absolute;
    width: calc(100% - 7.5%);
    height: 100%;
    opacity: 0.3;
    text-decoration: none;
    background-color: #2a2c2f;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    transition: opacity 1s ease;
    
    
}
.cover__overlay:hover{
    transition: opacity 1s ease 0s;
    opacity: 0.8;
}
@media screen and (max-width: 1024px){
    .cover__overlay{
        width: 100%;
        
    }
    
}

@media screen and (max-width: 320px){
    .cover__overlay{
        width: 100%;
        
    }
    
}